h1 > a {
    line-height: 1.75em;
    letter-spacing: 5px;
    color: #fff;
    font-size: 25px;

	span {
    	font-weight: 300;
    	text-transform: uppercase;
    }
}
h2 {
    text-transform: uppercase;
    line-height: 1.75em;
    letter-spacing: 3px;
    color: #fff;
    font-size: 20px;
    border-bottom: solid 1px;
    border-top: solid 1px;
    padding: 5px 0 5px;
}
h5 {
    font-size: 25px;
    letter-spacing: 2px;
}