
@font-face {
  font-family: 'fontello';
  src: url('ico/file/fontello.eot?11684841');
  src: url('ico/file/fontello.eot?11684841#iefix') format('embedded-opentype'),
       url('ico/file/fontello.woff2?11684841') format('woff2'),
       url('ico/file/fontello.woff?11684841') format('woff'),
       url('ico/file/fontello.ttf?11684841') format('truetype'),
       url('ico/file/fontello.svg?11684841#fontello') format('svg');
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    border-radius: 100%;
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    width: 45px;
}

.icon-facebook:before { content: '\f300'; background: #999995; color: #fff; box-shadow: 0 6px 4px -3px rgba(0, 0, 0, .3);}
.icon-twitter-bird:before { content: '\f303'; background: #999995; color: #fff; box-shadow: 0 6px 4px -3px rgba(0, 0, 0, .3);}
.icon-vkontakte-rect:before { content: '\f30a'; background: #999995; color: #fff; box-shadow: 0 6px 4px -3px rgba(0, 0, 0, .3);}

.icons > a {
    display: inline-block;
    padding-left: 3em;
    line-height: 6em;
}

